<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/welcome.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
      	<div id="banner">
        	<div id ="main_bar">
            </div>
         </div>
        <div id ="container">
            <div id="main">
                <div id="left">
                    <div class="sign_in">
                        <h2>Đăng nhập</h2>
                        <form>
                            <table>
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" name ="signin" value="Sign In"></input>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div id="right">
                       <div class="sign_up">
                        <h2>Đăng ký</h2>
                        <form>
                            <table>
                                <tr>
                                    <td>First Name</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Retype Password</td>
                                    <td>
                                        <input type="text"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" name ="signup" value="Sign Up"></input>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>
