{extends file=$layout}
{block name=main}
        <h1>Đăng kí Passport</h1>
        <form action="index.php?r=register&m=register" method="post">
        <table>
            <tr>
                <td><label>Họ</label></td><td><input type="text" name="register[Ho]"/></td>
            </tr>
            <tr>
                <td><label>Tên và chữ lót</label></td><td><input type="text" name="register[Ten]"/></td>
            </tr>
            <tr>
                <td><label>Chứng minh nhân dân</label></td><td><input type="text" name="register[CMND]"/></td>
            </tr>
            <tr>
                <td><label>Giới tính</label></td><td><input type="text" name="register[PhaiNam]"/></td>
            </tr>
            <tr>
                <td><label>Ngày sinh</label></td><td><input type="text" name="register[NgaySinh]"/></td>
            </tr>
            <tr>
                <td><label>DienThoai</label></td> <td><input type="text" name="register[DienThoai]"/></td>
            </tr>
            <tr>
                <td><label>Email</label></td><td><input type="text" name="register[Email]"/></td>
            </tr>
            <tr>
                <td><label>Địa chỉ</label></td><td><input type="text" name="register[Diachi]"/></td>
            </tr>
            <tr>
                <td><label>Lý do</label></td><td><input type="text" name="register[LyDo]"/></td>
            </tr>
            <tr>
                <td><label>Loại Passport</label></td>
                <td>
                    <select name ="register[LoaiPassport]">
                        {foreach from=$types item=type}
                            <option value={$type.IDLOAIPASSPORT}>{$type.LOAIPASSPORT}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td><td><button type="submit" class="btn">Đăng kí Hộ chiếu</button></td>
            </tr>
        </table>
       </form>
        {/block}